.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 65%;
    transform: translateY(-65%);
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 400px) {
    .menu {
        text-align: center;
    }
}