.nav {
    position: fixed;
    display: flex;
    align-items: flex-start;
    top: 3rem;
    gap: 3rem;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center; /* Add this */
}

/* Replace transforms with flex positioning */
.nav-about,
.nav-projects,
.nav-contact {
    transform: none;
}

a {
    width: 3.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.page-title {
    font-size: 0.875rem;
    cursor: default;
}

.nav-link {
    opacity: 0.9;
    text-decoration: none;
}

.nav-link:hover {
    opacity: 1;
}

@media (max-width: 1100px) {
    .nav-about,
    .nav-projects,
    .nav-contact {
        transform: translateX(0);
    }
    .nav {
        top: calc(100vh -8rem);
        transform: translate(-50%);
    }
    .nav-link {
        width: 2rem;
    }
    .nav-link image {
        width: 2rem;
    }
    .page-title {
        /* display: none; */
    }
}